@charset "UTF-8";

.mypc-pagination-center {
	text-align: center;
	display: lnline-block;
}

.mypc-searchForm {
	margin-bottom: 40px;
}

.mypc-margin-top {
	margin-top: 5px;
	font-size: 17px;
}

.mypc-font-black a {
	color: #000;
}

.table>tbody>tr{
	height:50px;
}

.table>tbody>tr>td{
	overflow:hidden;
	white-space : nowrap;
	text-overflow: ellipsis;
	vertical-align:middle;
}