@charset "UTF-8";

.datepicker-container {
	font-family: 'Helvetica', '나눔고딕', '맑은고딕';
}

.chosen-single, .chosen-drop{
	width:200px;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
	color:#777777;
	max-height:34px; /* spec input의 최대 높이를 설정 */
}
.chosen-container-multi .chosen-choices{
	max-height:34px;
	overflow:auto;
}

.mypc-form {
	border: 1px solid #e6e6e6;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	padding: 30px 15px;
}

.mypc-form .mypc-div {
	height: 40px;
}

.mypc-form .mypc-div .mypc-label {
	display: inline-block;
	padding-top: 10px;
	height: 40px;
}

.mypc-form .mypc-div-image {
	height: 200px;
}

.mypc-form .mypc-div-image a {
	display:inline-block;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.mypc-form .mypc-div-image a img{
	width:100%;
}

.mypc-form .mypc-div-image .mypc-label {
	padding-top: 100px;
}

.mypc-form .mypc-div-image .mypc-div-imageWrap {
	width: 300px;
	height: 150px;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}

.mypc-form #category_chosen {
	width: 200px !important;
}

.mypc-form .mypc-select {
	height: 34px;
}

.mypc-form .mypc-input {
	height: 34px;
	width: 200px;
}