@charset "UTF-8";

.datepicker-container {
	font-family: 'Helvetica', '나눔고딕', '맑은고딕';
}

.mypc-menu li {
	text-align: center;
	display: inline-block;
	width: 33%;
	height: 50px;
}

.mypc-chart3 #mypc-formChart .input-group {
	width: 150px;
	height: 30px;
}

.mypc-chart3 #mypc-formChart .form-group {
	width: 100px;
	height: 30px;
	padding-top:8px;
	padding-right:0;
}

.mypc-chartBox {
	height: 500px;
	padding-top: 50px;
}

.content .row:nth-child(3) {
	padding-top: 70px;
}